doctype html
html(lang = 'ru')
	head
		meta(charset = 'UTF-8')
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible" content="ie=edge")
		link(rel="stylesheet", href="css/style.css")
		title На Афон
	body.body
		div.page
			header.header
				div.container
					div.content

						div.heading
							div.logo
								a.logo__lnk(href = '#')
							div.call
								a.call__link(href = 'tel:+74957555559') +7 (495) 755-55-59
								button.call__button Заказать звонок

						div.caption
							h3.caption__title.caption__title_size-m Паломничество
							h1.caption__title.caption__title_size-l на Афон
							h5.caption__title.caption__title_size-s Организуем поездку на Святую гору из любой точки России
							div.booking
								button.booking__button Забронировать место

			main.main
				div.container
				div.trips				
					div.dates
						h6.dates__title даты
						h3.dates__title Ближайшие поездки
						div.dates__links
							a.dates__link(href="#") Групповые
							a.dates__link(href="#") Индивидуальные

					div.grid
						div.grid__item
							p.text Пешее паломничество по Святой горе

							
						div.grid__item
						div.grid__item
						div.grid__item


						





















					 
		
					