@keyframes animatedBackground {
  from {
    background-position: 10% 0;
  }
  to {
    background-position: 95% 0;
  }
}

@keyframes animatedTranslate {
  from {
    transform: translateX(200%)
  }
  to {
    transform: translateX(-100%)
  }
}