@media (max-width: 1280px) {

  .logo {
    width: 30%;
  }

  .nav {
    width: 35%;
  }

  .product {
    width: 49%;

    &__titles {
      &::after {
        width: 130/600 * 100%;
        padding-bottom: 70/600 * 100%;
        top: 0;
      }
    }
  }

  .cards {
    width: 100%;
  }

  .manual {
    &__text {
      width: 95%;
    }
  }
 
  .description {
    flex-direction: column;
    align-items: center;
  }

  .intelligence {
    width: 100%;
  }

  .documentation {
    margin: 50px 0 0 0;
    width: 50%;
  }

  .bid {
    margin: 150px 0 0 0;
  }

  .appeal {
    padding: 25px 0 50px 0;

    &__background {
      width: 470/1366 * 100%;
      padding-bottom: 380/1366 * 100%;
  
      &_bottles {
        top: -55px;
        left: 0;
      }
  
      &_jug {  
        width: 220/1366 * 100%;
        padding-bottom: 250/1366 * 100%;
        top: 55px;
        right: 35px;
      }
    }

  }

  .condition {
    width: 95%;
  }

}