@media (max-width: 1024px) {

  .introduction {
    flex-direction: column;
    align-items: center;
  }

  .nav {
    width: 50%;
    max-width: 385px;
    margin: 25px 0 0 0;
  }

  .info {
    width: 45%;
    max-width: 325px;
    margin: 35px 0 0 0;
  }

  .opening {
    flex-direction: column;
    align-items: center;
  }

  .product {
    width: 80%;   
  }

  .order {
    width: 100%;
    margin: 50px 0 0 0;
  }

  .instruction {
    margin-top: 70px;
  }

  .cards {
    width: 80%;
    max-width: 630px;
    flex-wrap: wrap;
  }

  .card {
    margin: 40px 0 0 0;
  }

  .next-step {
    margin: 120px 0 0 0;

    &:nth-of-type(2) {
      display: none;
    }
  }

  .manual {
    &__text {
      width: 100%;
    }
  }

  .intelligence {
 
    &__section {
      width: 100%;
    }
  }

  .documentation {
    width: 55%;
  }

  .bid {
    margin: 100px 0 0 0;
  }

  .appeal {
    padding: 25px 0;

    &__background {
   
      &_bottles {
        top: -10px;
        left: -15px;
      }
    }
  }

  .condition {
    width: 100%;
  }

  .booking {
    width: 30%;
  }




  //page-about
  .definition {
   
    &__category {
   
      &_reward {
       
        &::after {
          content: '';
          display: none;
        }
      }
    }
  }

  .table {

    &__name {
      width: auto;
    }
    
    &::after {
      display: none;
    }
  }


}