<header class="header">
  <div class="container">
     
    <!-- Header for desktop -->
    <div class="header-desktop">
      <div class="introduction">
        <div class="logo"></div>
        <nav class="nav">
          <ul class="nav__list">
            <li class="nav__item">
              <a href="index.html" class="nav__item-link">Главная</a>
            </li>
            <li class="nav__item">
              <a href="about.html" class="nav__item-link">О воде</a>
            </li>
            <li class="nav__item">
              <a href="delivery.html" class="nav__item-link">Доставка</a>
            </li>
            <li class="nav__item">
              <a href="contacts.html" class="nav__item-link">Контакты</a>
            </li>
          </ul>
        </nav>
        <div class="info">
          <div class="info__left">
            <div class="info__left-wrap">
              <div class="info__title">Доставка воды</div>
              <div class="info__city">Одесса</div>
            </div>
            <div class="info__langs">
              <a href="#" class="info__langs-link info__langs-link--active">Рус</a>
              <a href="#" class="info__langs-link">Укр</a>
            </div>
          </div>
          <div class="info__right">
            <ul class="info__numbers">
              <li class="info__number">
                <a href="tel:+380662242020" class="info__number-link">066 224 20 20</a>
              </li>
              <li class="info__number">
                <a href="tel:+380682242020" class="info__number-link">068 224 20 20</a>
              </li>
              <li class="info__number">
                <a href="tel:+380732242020" class="info__number-link">073 224 20 20</a>
              </li>
            </ul>
            <div class="info__buttons">
              <button class="info__button" id="to-popup-form">Заказать звонок</button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Header for mobile -->
    <div class="header-mobile">
      <div class="introduction">

        <div class="mobile-hamburger">
          <div class="hamburger-menu">
            <button class="hamburger">
              <span class="hamburger-box">
                <span class="hamburger-inner"></span>
              </span>
            </button>
          </div>
          <div class="logo-mobile"></div>
        </div>

        <div class="mobile-content">

          <div class="mobile-menu">
            <p class="mobile-menu__text">Меню</p>

            <div class="hamburger-menu">
              <button class="hamburger is-active">
                <span class="hamburger-box">
                  <span class="hamburger-inner"></span>
                </span>
              </button>
            </div>
          </div>
          
          <nav class="nav">
            <ul class="nav__list">
              <li class="nav__item go-to-page">
                <a href="index.html" class="nav__item-link">Главная</a>
              </li>
              <li class="nav__item go-to-page">
                <a href="about.html" class="nav__item-link">О воде</a>
              </li>
              <li class="nav__item go-to-page">
                <a href="delivery.html" class="nav__item-link">Доставка</a>
              </li>
              <li class="nav__item go-to-page">
                <a href="contacts.html" class="nav__item-link">Контакты</a>
              </li>
              <li class="nav__item nav__item_drop" >
                <span class="nav__text">Заказать звонок</span>
                <ul class="drop">
                  <li class="drop__item">
                    <a href="tel:+380662242020" class="drop__item-link">066 224 20 20</a>
                  </li>
                  <li class="drop__item">
                    <a href="tel:+380682242020" class="drop__item-link">068 224 20 20</a>
                  </li>                        
                  <li class="drop__item">
                    <a href="tel:+380732242020" class="drop__item-link">073 224 20 20</a>
                  </li>
                </ul>
              </li>
              <li class="nav__item nav__item_drop" >
                <span class="nav__text">Выбрать язык</span>
                <ul class="drop">
                  <li class="drop__item">
                    <a href="#" class="drop__item-link drop__item-link_langs drop__item-link--active">Рус</a>
                  </li>
                  <li class="drop__item">
                    <a href="#" class="drop__item-link drop__item-link_langs">Укр</a>
                  </li>     
                </ul>
              </li>
            </ul>
          </nav>        
        </div>
      </div>
    </div>    
  </div> 

</header>



<!-- Popup -->
<div class="popup-overlay">

  <div class="popup">
    
    <div class="popup-content">

      <form class="popup-form" id="popup-form" name="popup-form">

        <div class="popup-form__contact">
          <label for="popup-name" class="popup-form__label">Имя:</label>
          <input id="popup-name" name="userName" class="popup-form__input" type="text" required placeholder="Александр">
        </div>

        <div class="popup-form__contact">
          <label for="popup-tel" class="popup-form__label">Телефон:</label>
          <input id="popup-tel" name="userTelephone" class="popup-form__input" type="tel" required placeholder="(097) 123 45 67">
        </div>

        <div class="popup-form__submit">
          <button class="popup-form__button">Заказать</button>
        </div>   

      </form>

      <div class="popup-close">
        <button class="popup-close__button">x</button>
      </div> 
      
      <!-- Blind -->
      <div class="blind" id="popup-success">
        <div class="blind__content">
          <p class="blind__text">Мы свяжемся с вами в ближайшее время</p>
        </div>
      </div>

      <div class="blind" id="popup-error">
        <div class="blind__content">
          <p class="blind__text">Сервер перегружен, попробуйте позже</p>
        </div>
      </div>
  
    </div>

  </div>

</div>

