doctype html
html(lang = 'ru')
	head
		meta(charset = 'UTF-8')
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible" content="ie=edge")

		link(rel="stylesheet" href="css/style.css")
		title На Афон

		//- Favicon
		link(rel='shortcut icon', href='img/favicon/favicon.ico', type='image/x-icon')
		link(rel="apple-touch-icon" sizes="180x180" href="img/favicon/apple-touch-icon.png")
		link(rel="icon" type="image/png" sizes="32x32" href="img/favicon/favicon-32x32.png")
		link(rel="icon" type="image/png" sizes="16x16" href="img/favicon/favicon-16x16.png")
		link(rel="manifest" href="img/favicon/site.webmanifest")
		link(rel="mask-icon" href="img/favicon/safari-pinned-tab.svg" color="#5bbad5")
		meta(name="msapplication-TileColor" content="#da532c")
		meta(name="theme-color" content="#ffffff")

	body.body
		div.page
			header.header
				div.container
					div.header-top.js-headerTop
						div.logo
							a.logo__link(href="#")
						div.call
							a.call__link(href="tel:+74957555559")
								span.call__text.call__text_colored +7 (495) 
								span.call__text 755-55-59
							button.call__button Заказать звонок
					div.header-center
						div.caption
							h3.caption__title.caption__title_size-m.js-captionTitleSizeM Паломнические поездки
							h1.caption__title.caption__title_size-l.js-captionTitleSizeL на Афон
							h5.caption__title.caption__title_size-s.js-captionTitleSizeS Организуем поездку на Святую гору из любой точки России
							div.booking.js-booking
								button.booking__button Забронировать место

			main.main
				
				div.dates.js-dates
					div.container
						div.heading
							h6.heading__title.heading__title_size-s Даты
							h3.heading__title Ближайшие поездки
							div.heading__links
								a.heading__link(href="#") Групповые
								a.heading__link.heading__link_active(href="#") Индивидуальные
						div.content
							div.trips
								div.trip
									article.trip__article
										h5.trip__title Пешее паломничество по Святой горе
										ul.trip__list
											li.trip__item
												p.trip__text Стоимость:
												p.trip__text.trip__text_strong 37 800 &#8381;
											li.trip__item
												p.trip__text Период:
												p.trip__text.trip__text_strong 19 ноя. – 1 дек.
											li.trip__item
												p.trip__text Записалось:
												p.trip__text.trip__text_strong 5 из 15 чел.
								div.trip
									article.trip__article
										h5.trip__title Весь Афон за 7 дней
										ul.trip__list
											li.trip__item
												p.trip__text Стоимость:
												p.trip__text.trip__text_strong 81 400 &#8381;
											li.trip__item
												p.trip__text Период:
												p.trip__text.trip__text_strong 10 дек. – 17 дек.
											li.trip__item
												p.trip__text Записалось:
												p.trip__text.trip__text_strong 10 из 15 чел.
								div.trip
									article.trip__article
										h5.trip__title Рождество Христово в Ксенофонте
										ul.trip__list
											li.trip__item
												p.trip__text Стоимость:
												p.trip__text.trip__text_strong 37 800 &#8381;
											li.trip__item
												p.trip__text Период:
												p.trip__text.trip__text_strong 1 янв. – 9 янв.
											li.trip__item
												p.trip__text Записалось:
												p.trip__text.trip__text_strong 8 из 25 чел.
								div.trip
									article.trip__article
										h5.trip__title Монастырь Симонопетра
										ul.trip__list
											li.trip__item
												p.trip__text Стоимость:
												p.trip__text.trip__text_strong 37 800 &#8381;
											li.trip__item
												p.trip__text Период:
												p.trip__text.trip__text_strong 25 янв. – 3 фев.
											li.trip__item
												p.trip__text Записалось:
												p.trip__text.trip__text_strong 2 из 20 чел.

				div.about.js-about
					div.container.js-aboutContainer
						div.heading
							h6.heading__title.heading__title_size-s О нас
							h2.heading__title Паломническая служба Святогорец
						div.content.js-aboutContent
							div.videos
								div.cloud.js-cloud
								div.video
									button.video__button.js-videoButtonAbout
							div.description
								p.description__text
									|	Служба организует паломнические поездки на Святую Гору Афон, как групповые, так и индивидуальные.
								p.description__text
									|	Поездки могут быть составлены с учетом Ваших пожеланий — посещение разных монастырей, встречи
									|	православных праздников на Афоне, просхождение на вершину Святой Горы.
								p.description__text
									|	Паломническая служба «Святогорец» осуществляет свою деятельность по благословению схиархимандрита
									| Илии и Свято-Пантелеимонова монастыря Святой Горы Афон.

				div.advantages
					div.container
						div.heading
							h6.heading__title.heading__title_size-s Преимущества
							h2.heading__title 8 плюсов поездки с нами
						div.content.js-advantagesContent
							div.cards.js-cards
								div.card.card_icon-1.js-card
									p.card__text
										|	Разместим в гостинице Русского монастыря вмч. Пантелеимона
								div.card.card_icon-2.js-card
									p.card__text
										|	Оформим диамонтирион от монастыря вмч. Пантелеимона
								div.card.card_icon-3.js-card
									p.card__text
										|	Предоставим авто с сопровождающим по Святой Горе
								div.card.card_icon-4.js-card
									p.card__text
										|	Закажем лодку и забронируем билеты на паром
								div.card.card_icon-5.js-card
									p.card__text
										|	Предоставим VIP зал на прилет и вылет в Салониках
								div.card.card_icon-6.js-card
									p.card__text
										|	Оформим греческую шенгенскую визу
								div.card.card_icon-7.js-card
									p.card__text
										|	Забронируем авиабилеты
								div.card.card_icon-8.js-card
									p.card__text
										|	Предоставим трансфер

				div.reviews.js-reviews
					div.container
						div.heading
							h6.heading__title.heading__title_size-s видеоотзывы
							h2.heading__title Впечатления паломников
						div.content
							div.videos.js-videosReviews
								div.video.js-videoReview
									button.video__button.js-videoReviewButton
								div.video.js-videoReview
									button.video__button.js-videoReviewButton
								div.video.js-videoReview
									button.video__button.js-videoReviewButton
								div.show-more.js-showMoreReviews
									a.show-more__link(href="#") Показать еще

				div.needs.js-needs
					div.container
						div.heading
							h6.heading__title.heading__title_size-s Список
							h2.heading__title Обязательно нужно взять
						div.content
							article.article
								p.article__text
									| Сохраните себе список вещей и документов, необходимых для поездки
							form.form.js-formNeeds(name="form-sure-to-take")
								div.form__data.form__data_email
									input.form__input(type="email" name="email" placeholder="Введите ваш email")
									button.form__button Отправить список

				div.questions.js-questions
					div.container.js-questionsContainer
						div.heading
							h6.heading__title.heading__title_size-s Вопросы
							h2.heading__title Часто задаваемые вопросы
						div.content
							div.articles
								article.article
									h4.article__title Что такое диамонтирион?
									p.article__text
										| Специальное письменное разрешение на посещение Святой Горы, обязательное для всех гостей. Получить
										| диамонитирион может мужчина любого вероисповедания.
								article.article
									h4.article__title По какому курсу валют оплачивать поездку?
									p.article__text
										| Специальное письменное разрешение на посещение Святой Горы, обязательное для всех гостей. Получить
										| диамонитирион может мужчина любого вероисповедания.
								article.article
									h4.article__title Что означает «трансфер»?
									p.article__text
										| Специальное письменное разрешение на посещение Святой Горы, обязательное для всех гостей. Получить
										| диамонитирион может мужчина любого вероисповедания.
								article.article
									h4.article__title Для чего нужна Шенген-виза?
									p.article__text
										| Специальное письменное разрешение на посещение Святой Горы, обязательное для всех гостей. Получить
										| диамонитирион может мужчина любого вероисповедания.
								article.article
									h4.article__title Бывает ли что-то лучше, чем «все включено»?
									p.article__text
										| Специальное письменное разрешение на посещение Святой Горы, обязательное для всех гостей. Получить
										| диамонитирион может мужчина любого вероисповедания.
							div.articles.js-articles
								article.article
									h4.article__title Зачем страховать невыезд?
									p.article__text
										| Специальное письменное разрешение на посещение Святой Горы, обязательное для всех гостей. Получить
										| диамонитирион может мужчина любого вероисповедания.
								article.article
									h4.article__title Почему посетить Афон, могут только мужчины?
									p.article__text
										| Специальное письменное разрешение на посещение Святой Горы, обязательное для всех гостей. Получить
										| диамонитирион может мужчина любого вероисповедания.
								article.article
									h4.article__title А кормить будут?
									p.article__text
										| Специальное письменное разрешение на посещение Святой Горы, обязательное для всех гостей. Получить
										| диамонитирион может мужчина любого вероисповедания.
								article.article
									h4.article__title Кто такая Пресвятая Богородица?
									p.article__text
										| Специальное письменное разрешение на посещение Святой Горы, обязательное для всех гостей. Получить
										| диамонитирион может мужчина любого вероисповедания.
								article.article
									h4.article__title Почему это монашеская республика?
									p.article__text
										| Специальное письменное разрешение на посещение Святой Горы, обязательное для всех гостей. Получить
										| диамонитирион может мужчина любого вероисповедания.
							div.show-more.js-showMoreNeeds
								a.show-more__link(href="#") Показать ещё

				div.consultation
					div.container
						div.heading
								h6.heading__title.heading__title_size-s Бесплатная консультация
								h2.heading__title У вас остались вопросы?
						div.content
							form.form.js-formConsultation(name="form-free-consultation")
								div.form__data.form__data_name
									input.form__input(type="text" name="name" placeholder="Имя")
								div.form__data.form__data_phone
									input.form__input(type="tel" name="phone" placeholder="Телефон")
								div.form__data.form__data_comment
									textarea.form__textarea(name="comment" placeholder="Текст вопроса")
								div.form__data.form__data_submit
									button.form__button Задать вопрос
								p.form__text
									|	Нажимая на кнопку «Задать вопрос», вы соглашаетесь на 
									a.form__link(href="#") обработку персональных данных.


				div.contacts.js-contacts
					div.container
						div.heading
							h6.heading__title.heading__title_size-s Контакты
							h2.heading__title Контактные данные службы
						div.content
							div.addresses.js-addresses
								div.address
									h3.address__title Наш адрес
									p.address__text 109012, Москва,
									p.address__text ул. Никольская, 17
								div.address
									h3.address__title Телефон
									div.numbers
										a.numbers__link(href="tel:+74957555559") +7 (495) 755-55-59
								div.address
									h3.address__title Режим работы
									p.address__text Пн-пт: 08:30 - 19:00
									p.address__text Cб: 10:00 - 17:00							
								div.address
									h3.address__title Социальные сети
									div.socials
										a.socials__link(href="https://www.facebook.com/")
											svg.socials__svg(viewBox="0 0 24 24")
												path(d=`M9 8h-3v4h3v12h5v-12h3.642l.358-4h-4v-1.667c0-.955.192-1.333 1.115-1.333h2.885v-5h-3.808c-3.596 0-5.192 1.583-5.192
													 4.615v3.385z`)
										a.socials__link(href="https://vk.com/")
											svg.socials__svg(viewBox="0 0 24 24")
												path(d=`M13.162 18.994c.609 0 .858-.406.851-.915-.031-1.917.714-2.949 2.059-1.604 1.488 1.488 1.796 2.519 3.603
														2.519h3.2c.808 0 1.126-.26 1.126-.668 0-.863-1.421-2.386-2.625-3.504-1.686-1.565-1.765-1.602-.313-3.486 1.801-2.339
															4.157-5.336 2.073-5.336h-3.981c-.772 0-.828.435-1.103 1.083-.995 2.347-2.886 5.387-3.604 4.922-.751-.485-.407-2.406
															-.35-5.261.015-.754.011-1.271-1.141-1.539-.629-.145-1.241-.205-1.809-.205-2.273 0-3.841.953-2.95 1.119 1.571.293
															1.42 3.692 1.054 5.16-.638 2.556-3.036-2.024-4.035-4.305-.241-.548-.315-.974-1.175-.974h-3.255c-.492 0-.787.16
															-.787.516 0 .602 2.96 6.72 5.786 9.77 2.756 2.975 5.48 2.708 7.376 2.708z`)
										a.socials__link(href="https://twitter.com")
											svg.socials__svg(viewBox="0 0 90 90")
												path(d=`M67.261,67.496H45.054c-3.087,0-5.712-1.08-7.869-3.25c-2.167-2.172-3.238-4.797-3.238-7.898v-7.904H65.59
															c2.854,0,5.312-1.025,7.354-3.062c2.041-2.054,3.066-4.509,3.066-7.366c0-2.867-1.025-5.319-3.072-7.366
															c-2.049-2.042-4.515-3.066-7.381-3.066H33.946V11.254c0-3.09-1.102-5.735-3.29-7.939C28.478,1.107,25.842,0,22.782,0
															c-3.146,0-5.825,1.091-8.004,3.25C12.591,5.416,11.5,8.084,11.5,11.264v45.089c0,9.274,3.278,17.197,9.837,23.773
															C27.901,86.715,35.814,90,45.066,90h22.203c3.082,0,5.729-1.107,7.93-3.314c2.203-2.197,3.302-4.849,3.302-7.936
															c0-3.088-1.099-5.734-3.302-7.941C72.997,68.607,70.347,67.496,67.261,67.496z`)
										a.socials__link(href="https://www.instagram.com")
											svg.socials__svg(viewBox="0 0 24 24")
												path(d=`M21.231 0h-18.462c-1.529 0-2.769 1.24-2.769 2.769v18.46c0 1.531 1.24 2.771 2.769 2.771h18.463c1.529 0 2.768-1.24
												 2.768-2.771v-18.46c0-1.529-1.239-2.769-2.769-2.769zm-9.231 7.385c2.549 0 4.616 2.065 4.616 4.615 0 2.549-2.067
												  4.616-4.616 4.616s-4.615-2.068-4.615-4.616c0-2.55 2.066-4.615 4.615-4.615zm9 12.693c0 .509-.413.922-.924.922h-16.152c
													-.511 0-.924-.413-.924-.922v-10.078h1.897c-.088.315-.153.64-.2.971-.05.337-.081.679-.081 1.029 0 4.079 3.306 7.385 7.384
													 7.385s7.384-3.306 7.384-7.385c0-.35-.031-.692-.081-1.028-.047-.331-.112-.656-.2-.971h1.897v10.077zm0-13.98c0 .509
													 -.413.923-.924.923h-2.174c-.511 0-.923-.414-.923-.923v-2.175c0-.51.412-.923.923-.923h2.174c.511 0
													  .924.413.924.923v2.175z`)
							div.map.js-map
								//- iframe.map__iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2245.034019876772!2d37.62156269040663!3d55.75791122850115!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46b54a5bbdc7919d%3A0xe22677638d2c8eab!2z0J3QuNC60L7Qu9GM0YHQutCw0Y8g0YPQuy4sIDE3LCDQnNC-0YHQutCy0LAsINCg0L7RgdGB0LjRjywgMTA5MDEy!5e0!3m2!1sru!2sua!4v1541330894792" allowfullscreen)

		footer.footer
			div.container.js-footerContainer
				div.content
					div.logo
						a.logo__link(href="#")
					div.privacy-policy
						div.privacy-policy__links
							a.privacy-policy__link(href="#") Политика конфиденциальности
						p.privacy-policy__text
							|	Паломническая служба «Святогорец», 2017 г.

		script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyACBz7okbQ9ghmSCQEBafS3zfYpttRb06A")
		script(src="js/script.js")